* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  max-width: 80%;
  margin: auto;
  padding: 2rem 0;
}
h1{
  color: #205ea0;
}
.upper {
  display: flex;
  margin-top: 1.5rem;
}
.upper-txt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
.upper-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 40%;
  height: 50%;
}
.description{
  line-height: 1.5;
}
.upper-title {
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: bold;
}

/* TextArea */

textarea {
  width: 100%;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;
  margin-top: 2rem;
}
.txtarea{
  position: relative;
}
.clipboard{
  position: absolute;
  top: 35px;
  right: 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.cross-icon{
  color: #ff0000;
  margin-right: 1rem;
  cursor: pointer;
}
.clipboard-icon{
  cursor: pointer;
}
.tick-icon{
  color: #1a8e2b;
  cursor: pointer;
}
.summary{
  margin: 1rem 0;
  display: flex;
}
.word-count{
  margin-right: 1rem;
}

/* Button */

.btn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem;
}
.active{
  background-color: #efac09;
  color: #fff;
  transition: all ease-out 0.4s;
}
.action{
  background-color: #1a8e2b;
  color: #fff;
}
.action:hover{
  background-color: #00b01a;
  transition: all ease-out 0.4s;
}
.record-active{
  background-color: #b10000;
  color: #fff;
}
.record-active:hover{
  background-color: #ff0000;
  transition: all ease-out 0.4s;
}
.record-inactive{
  background-color: #205ea0;
  color: #fff;
}
.record-inactive:hover{
  background-color: #3ebfd5;
  transition: all ease-out 0.4s;
}

@media only screen and (max-width:460px) {
  .action{
    width: 100%;
  }
}